DJANGO_SECRET_KEY "pk-z+5j$f1a3dbyex+e1gc=5z8qf#w)k36a4v2itwwz9=$gay9"
DJANGO_DEBUG "False"

build command : pip install -r lab2_template/lab2_template/requirements.txt

start command: gunicorn myproject.wsgi:application --bind 0.0.0.0:$PORT